:root {
  --bg-primary-color: #1E1E1E;
  --bg-secondary-color: #525457;
  --bg-tertiary-color: #1E1E1E;
  --bg-fortly-color: #525457;
  --bg-menu-color: #fff;
  --font-primary-color: #fff;
  --font-secondary-color: #1E1E1E;
  --font-tertiary-color: #525457;
  --button-primary-color: #fff;
}
